body {
     padding: 10px;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     background-color: pink;
}

h2 {
     font-size: 20px;
}

header,
nav {
     display: flex;
     align-items: center;
     gap: 30px;
     background-color: rgb(238, 236, 236);
     padding: 10px;
     border-radius: 6px;
}

li {
     list-style: none;
}

a {
     text-decoration: none;
     color: black;
     font-size: 17px;
}

.logo {
     margin-right: auto;
}

footer {
     text-align: center;
     padding: 20px 0;
     background-color: rgb(60, 60, 60);
     color: white;
     border-radius: 4px;
     margin-top: auto;
}