body{
     padding: 20px;
}

header, nav{
     display: flex;
     align-items: center;
     gap: 20px;
     background-color: rgb(238, 236, 236);
     padding: 10px;
     border-radius: 6px;
}

li{
     list-style: none;
}

a{
     text-decoration: none;
}

.logo{
     margin-right: auto;
}